[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/k-raczkowska
[access "refs/for/refs/*"]
	read = group user/k-raczkowska
	push = group user/k-raczkowska
	label-Code-Review = -2..+2 group user/k-raczkowska
	label-Verified = -1..+1 group user/k-raczkowska
	rebase = group user/k-raczkowska
	removeReviewer = group user/k-raczkowska
	submit = group user/k-raczkowska
[access "refs/heads/*"]
	read = group user/k-raczkowska
	create = group user/k-raczkowska
	push = +force group user/k-raczkowska
	pushMerge = group user/k-raczkowska
[access "refs/tags/*"]
	push = +force group user/k-raczkowska
	pushTag = group user/k-raczkowska
	pushSignedTag = group user/k-raczkowska
